.header_layout {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

@media (max-width: 830px) {
  .header_layout {
    /* background-color: #d82d36; */
    background: linear-gradient(to right, #b31120, #d92b38, #a00b1c);
  }
}
