.nav_bar {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.nav_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10px;
}

.telegram_icon {
  width: 35px;
  height: 35px;
}

.join_us {
  display: none;
}

.telegram_icon > a {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.telegram_icon > a > img {
  width: 30px;
  height: 30px;
}

.menu_lang {
  width: 90px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.nav_menu li a {
  font-weight: 500;
  text-decoration: none;
  margin: 15px;
  position: relative;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-300)
    var(--unnamed-font-size-20) / var(--unnamed-line-spacing-100)
    var(--unnamed-font-family-poppins);
  letter-spacing: var(--unnamed-character-spacing-0);
  color: var(--unnamed-color-000000);
  text-align: left;
  font: normal normal 300 18px/100px Poppins;
  letter-spacing: 0px;
  color: #000000;
}

.nav_menu li a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -5px;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background-color: var(--unnamed-color-ce232d);
  transition: width 0.8s ease 0s, left 0.8s ease 0s;
  width: 0;
}

.nav_menu li a.active {
  font-weight: 600;
}

.nav_menu li a:hover:after {
  width: 100%;
  left: 0;
}
.nav_menu li a.active:after {
  width: 100%;
  left: 0;
}

.main_logo_wrapper {
  width: 110px;
  height: 40px;
  display: flex;
  align-items: center;
}

.main_logo_wrapper > img {
  width: 100%;
  height: auto;
}

.nav_bar .nav-toggle {
  display: none;
}

@media (max-width: 1050px) {
  .nav_menu li a {
    font: normal normal 300 14px/100px Poppins;
  }
}

@media (max-width: 1050px) {
  .nav_menu li a {
    font: normal normal 300 12px/100px Poppins;
  }
}

@media (max-width: 830px) {
  /* .nav_bar {
    background-color: #d82d36;
  } */

  .nav_bar .nav_menu {
    display: none;
  }

  .nav_bar .nav_menu.open {
    z-index: 999;
    position: absolute;
    display: flex;
    top: 60px;
    flex-direction: column;
    background: #f8f8fc;
    padding-top: 10px;
    align-items: center;
    justify-content: flex-start;
    left: 0;
    width: 100%;
    height: calc(100vh - 50px);
  }
  .menu_lang {
    width: 140px;
  }

  .join_us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    width: 300px;
    height: 100px;
  }

  .join_us_header_text {
    font-size: 22px;
    font-weight: 400;
    font-family: var(--unnamed-font-family-poppins);
  }

  .social_icons {
    width: 90%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .social_icons > a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
  }
  .social_icons > a > img {
    width: 100%;
    height: 100%;
  }

  .devider_div {
    width: 3px;
    height: 25px;
    background-color: var(--unnamed-color-830b0b);
  }

  .nav_bar .nav-toggle {
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .nav-toggle .bar {
    position: relative;
    width: 32px;
    height: 2px;
    background-color: #fff;
    transition: all 0.45s ease-in-out;
  }

  .nav-toggle .bar::before,
  .nav-toggle .bar::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: #fff;
    border-radius: 2px;
    transition: all 0.45s ease-in-out;
  }

  .nav-toggle .bar::before {
    width: 25px;
    transform: translateY(-8px);
    right: 0;
  }
  .nav-toggle .bar::after {
    width: 32px;
    transform: translateY(8px);
  }

  .nav-toggle.open .bar {
    transform: translateX(-40px);
    background: transparent;
  }

  .nav-toggle.open .bar::after {
    transform: rotate(-45deg) translate(26px, 26px);
  }

  .nav-toggle.open .bar::before {
    width: 32px;
    transform: rotate(45deg) translate(26px, -26px);
  }
}
