.footer_touch_wrapper {
  width: 100%;
  height: 100%;
}

.footer_touch_social {
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer_touch_head {
  font-family: var(--unnamed-font-family-poppins);
  font-size: 18px;
  color: var(--unnamed-color-aa1111);
  font-weight: 700;
}

.footer_social_icons {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer_social_icons i {
  font-size: 30px;
  color: #000000;
}

.footer_payments {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer_payment_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 50px;
}

.footer_payment_icon img {
  width: 100%;
  height: auto;
}
