.country_wrap {
  box-shadow: none !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center;
  position: static !important;
  border: transparent;
}

.country_wrap svg {
  width: 30px;
  height: 30px;
}

.country_select svg {
  width: 30px;
  height: 30px;
}

.country_wrap .MuiSvgIcon-root {
  display: none;
}

.country_wrap fieldset {
  border: none;
}
